<br><br><br><br>

<div class="login-container">
  <div class="card shadow p-4">
    <h3 class="text-center mb-4">Validar Registro</h3>
    <p class="text-center">Hola, {{ userName }}. Por favor ingresa el código OTP enviado a su correo</p>
    <form (ngSubmit)="validateSignup()">
      <div class="mb-3">
        <ng-otp-input 
          [(ngModel)]="optCode" 
          name="otpInput"
          [config]="{ length: 6 }" 
          (onInputChange)="onOtpInputChange($event)"
          [disabled]="isLoading">
        </ng-otp-input>
        <div *ngIf="optCode.length < 6 && optCodeTouched" class="text-danger">
          El código OTP debe ser de 6 dígitos numéricos.
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
        Validar
      </button>
      <div *ngIf="isLoading" class="text-center mt-3">Validando...</div>
    </form>    
  </div>
</div>
