.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa todo el alto disponible */
    margin: 0;
}

/* Estilo de la tarjeta de login */
.card {
    width: 420px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Íconos en los botones */
button i {
    margin-right: 8px;
}

.otp-input {
    width: 40px; /* Asegúrate de que el tamaño de cada input sea suficiente */
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
  
}
  
.otp-input {
    width: 40px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
  
.otp-input:focus {
    border-color: #007bff;
}
  
.is-invalid {
    border-color: red !important;
}

.ng-otp-input {
    margin-bottom: 15px;
  }
  
.ng-otp-input input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
  }
  