<div class="dashboard-container">
    <!-- Header -->
    <div class="header">
        <div class="logo-container">
          <img src="images/logo_edited.png" alt="Logo" class="logo" />
          <h2 class="company-name">ACAVEN DE RL</h2>
        </div>
        <div class="header-right">
          <input type="text" class="search-bar" placeholder="Search..." />
          <h1 class="page-title">DASHBOARD</h1>
        </div>
    </div>
      
    <!-- Body -->
    <div class="body">
      
      <div class="sidebar">
        <div class="module" (click)="toggleModule(1)">
          Module 1
          <div class="submodules" *ngIf="activeModule === 1">
            <div class="submodule">Submodule 1.1</div>
            <div class="submodule">Submodule 1.2</div>
          </div>
        </div>
        <div class="module" (click)="toggleModule(2)">
          Module 2
          <div class="submodules" *ngIf="activeModule === 2">
            <div class="submodule">Submodule 2.1</div>
            <div class="submodule">Submodule 2.2</div>
          </div>
        </div>
        <div class="module" (click)="toggleModule(3)">
          Module 3
          <div class="submodules" *ngIf="activeModule === 3">
            <div class="submodule">Submodule 3.1</div>
          </div>
        </div>
      </div>
      

      <div class="main-content">
        <div class="empty-content">
          <h2>HOME WORKS</h2>
        </div>
      </div>
    </div>
</div>



