<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">
                        Signup
                    </h3>
                </div>

                <div class="panel-body pt-3">
                    <div class="input-field">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" placeholder="Nombres">
                    </div>
                </div>
                <div class="panel-body pt-3">
                    <div class="input-field">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" placeholder="Apellidos">
                    </div>
                </div>
                <div class="panel-body pt-3">
                    <div class="input-field">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" placeholder="Correo">
                    </div>
                </div>
                <div class="panel-body pt-3">
                    <div class="input-field">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" placeholder="Password">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Signup</button>
            </div>
        </div>
    </div>
</div>