/* You can add global styles to this file, and also import other style files */
/* styles.css */
.auth-background {
    background-color: #ffffff;
    background-image: url("./assets/images/fondo_acaven-copia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Estilo por defecto para el body */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}